
        h2{
            background-color:pink;
            color: blueviolet
        }
        .c{
            background-color: green;
            color: maroon
        }
        #h{
            background-color: aqua;
            color:white
        }
    